*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: montserrat,sans-serif;
}

header{
	background-image: linear-gradient(to right,#FF4800,#FFCE00);
	box-shadow: 0 3px 6px, rgba(0,0,0,0.2);
	padding: 15px;
}

header input{
	display: inline-block;
	color: #FFF;
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
	background: none;
	border: none;
	outline: none;
	text-transform: uppercase;
}

header::before{
	content: "/r/";
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
	color: #FFF;
	display: inline-block;
}

.articles article{
	padding: 30px 15px;
	background: #FFF;
}

.articles article a{
	text-decoration: none;
}

.articles article h3{
	color: #212121;
}

.articles article:nth-child(2n){
	background: #F3F3F3;
}

.articles article:hover{
	background-image: linear-gradient(to left,#FF4800,#FFCE00);
	color: #FFF;
}